<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.pet.dao.MemberDao">
  <sql id="select01">
    select MNO, NAME, EMAIL, AGC,TEL, GEN, GRA
    from MEMBER
  </sql>
	<resultMap type="Member" id="MemberMap">
		<id column="MNO" property="mno" />
		<result column="NAME" property="name" />
		<result column="PWD" property="pwd" />
	</resultMap>
	
	<insert id="insert" parameterType="Member">
		insert into MEMBER(NAME,EMAIL,PWD,TEL,GEN,BTH,GRA,AGC)
		values(#{name},#{email},#{pwd},#{tel},#{gen},#{bth},#{gra},#{agency})
	</insert>
	
	<update id="update" parameterType="Member">
		update MEMBER set
		NAME=#{name},
		<if test="gra !=null">
		GRA=#{gra},
		</if>
		<if test="pwd !=null">
		PWD=#{pwd},
		</if>
		TEL=#{tel}
		where MNO=#{mno}
	</update>
	<delete id="delete" parameterType="int">
		delete from MEMBER
		where MNO=#{mno}
	</delete>
	<select id="selectList" resultMap="MemberMap" parameterType="map">
		<include refid="select01"/>
		order by MNO DESC
    limit #{startIndex}, #{length}
	</select>
	<select id="selectOne" parameterType="map" resultMap="MemberMap">
	   <include refid="select01"/>
	   where
	   <if test="mno != null">
	   MNO=#{mno}
	   </if>
	   <if test="email != null">
	   EMAIL=#{email}
	   </if>
	</select>
  <select id="countAll" resultType="int">
    select count(*) from MEMBER
  </select>
  <select id="isMember" parameterType="map" resultType="int">
    select count(*) 
    from MEMBER
    where EMAIL=#{email} and PWD=#{password}
  </select>
</mapper>












