<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="bitcamp.pet.dao.PetSitterDao">
	<resultMap type="PetSitter" id="PetSitterMap">
		<id column="PNO" property="pno" />
		<result column="NICK" property="nick" />
		<result column="AMT" property="amt" />
		<result column="KTALK" property="ktalk" />
    <result column="BANK" property="bank" />
    <result column="BKNM" property="bknm" />
    <result column="ACC" property="acc" />
    <result column="SER" property="ser" />
    <result column="INQUR" property="inqur" />
    <result column="PET" property="pet" />
    <result column="ADDR_1" property="addr_1" />
    <result column="ADDR_2" property="addr_2" />
    <result column="ADDR_3" property="addr_3" />
    <result column="RAD" property="rad" />
    <result column="LAT" property="lat" />
    <result column="LNT" property="lnt" />
    <result column="INTRO" property="intro" />
    <result column="REG" property="region" />
    <result column="LIKES" property="likes" />
    <result column="PETG" property="petg" />
    <result column="HOS" property="hospital" />
    <result column="IMG" property="img" />
	</resultMap>
	
	<insert id="insert" parameterType="PetSitter">
		insert into PETSITTER(PNO,NICK,AMT,KTALK,BANK,BKNM,ACC,SER,INQUR,PET,ADDR_1,ADDR_2,ADDR_3,INTRO,RAD,LAT,LNT,REG,IMG,HOS)
		values(#{pno},#{nick},#{amt},#{ktalk},#{bank},#{bknm},#{acc},#{ser},#{inqur},#{pet},#{addr_1},#{addr_2},#{addr_3},#{intro},#{rad},#{lat},#{lnt},#{region},#{img},#{hospital})
	</insert>
	
	<update id="update" parameterType="PetSitter">
		update PETSITTER set
    <if test="img !=null">
    IMG=#{img},
    </if>
    <if test="likes !=null">
    LIKES=#{likes},
    </if>
		NICK=#{nick}
		where PNO=#{pno}
	</update>
	
	 <update id="setInfo" parameterType="PetSitter">
    update PETSITTER set
    NICK=#{nick},
    KTALK=#{ktalk},
    AMT=#{amt},
    REG=#{region},
    BANK=#{bank},
    BKNM=#{bknm},
    ACC=#{acc},
    SER=#{ser},
    INQUR=#{inqur},
    PET=#{pet},
    ADDR_1=#{addr_1},
    ADDR_2=#{addr_2},
    ADDR_3=#{addr_3},
    INTRO=#{intro},
    HOS=#{hospital},
    RAD=#{rad},
    LAT=#{lat},
    LNT=#{lnt}
    where PNO=#{pno}
  </update>
	
	<delete id="delete" parameterType="int">
		delete from PETSITTER
		where PNO=#{pno}
	</delete>
	
	<select id="selectList" resultMap="PetSitterMap" parameterType="map">
		 select PNO,NICK,IMG,REG from PETSITTER
		<if test="pno != null">
		order by PNO DESC
    </if>
    <if test="likes != null">
    order by LIKES DESC
    </if>
    <if test="nick != null">
    order by NICK
    </if>
    <if test="amt != null">
    order by AMT
    </if>
	</select>
	
	<select id="search" resultMap="PetSitterMap" parameterType="map">
     select PNO,NICK,IMG,REG from PETSITTER where REG like #{index}
  </select> 
	
  <select id="mainList" resultMap="PetSitterMap">
     select PNO,NICK,IMG,REG from PETSITTER
    order by LIKES DESC 
    limit 0,6
  </select>
	
	<select id="selectOne" parameterType="map" resultMap="PetSitterMap">
	   select * from PETSITTER
	   where
	   <if test="pno != null">
	   PNO=#{pno}
	   </if>
	   <if test="nick != null">
	   NICK=#{nick}
	   </if>
	</select>
	
  <select id="countAll" resultType="int">
    select count(*) from PetSitter
  </select>
  
  <select id="isPetSitter" parameterType="map" resultType="int">
    select count(*) 
    from PETSITTER
    where PNO=#{pno}
  </select>
</mapper>













