<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.pet.dao.RequestDao">
  <resultMap type="Request" id="RequestMap">
    <id column="REQ" property="req"/>
  </resultMap>
  <resultMap type='PetRequest' id='PetrequestMap'>
    <id column='pno' property='pno'/>
  </resultMap>
  
  <insert id="insert" parameterType="Request">
    insert into request(mno, pno, conts, meal, train, date, res, neut, anifd, manfd, bark, diz)
    values(#{mno},#{pno},#{conts},#{meal},#{train},#{date},#{res},#{neut},#{anifd},#{manfd},#{bark},#{diz})
  </insert>

  
  <delete id="delete" parameterType="Request">
    delete from request
    where req=#{req}
  </delete>
  
    <select id="selectList" resultMap="PetrequestMap" parameterType="map">
    select pno, mno, date, conts, meal, train, date, res, neut, anifd, manfd, 
    bark, diz, ans, stat 
    from request as r left outer join petsitter as p 
    on p.pno = r.pno;
    where PNO=#{pno}
    order by req DESC
  </select>
  
  <select id="selectOne" parameterType="map" resultMap="RequestMap">
     select * from request
     where
     <if test="pno != null">
     PNO=#{pno}
     </if>
     <if test="nick != null">
     NICK=#{nick}
     </if>
  </select>
  
  <select id="countAll" resultType="int">
    select count(*) from request
  </select>
  
</mapper>






















