<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.pet.dao.UpPhotoDao">
	<resultMap type="UpPhoto" id="UpPhotoMap">
		<id column="PNO" property="pno" />
		<result column="PTOS" property="ptos" />
		<result column="PATH" property="path" />
	</resultMap>
	
	<insert id="insert" parameterType="UpPhoto">
		insert into UpPhoto(PNO,PATH,PTOS)
		values(#{pno},#{path},#{ptos})
	</insert>
	
	<delete id="delete" parameterType="map">
		delete from UpPhoto
		where PNO=#{pno} and PTOS=#{ptos}
	</delete>
	
	<select id="selectList" resultMap="UpPhotoMap" parameterType="int">
		select pno, ptos,path from upphoto where pno =#{pno}
	</select>
	
</mapper>
