@CHARSET "UTF-8";
#container2 {
  padding-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  width: 100%;
  font-family: "dotum";
  font-size: 15px;
}

ul.tabs li {
  float: left;
  text-align: center;
  cursor: pointer;
  width: 110px;
  height: 31px;
  line-height: 31px;
  border: 1px solid #eee;
  border-left: none;
  font-weight: bold;
  background: #fafafa;
  overflow: hidden;
  position: relative;
}

ul.tabs li.active {
  background: #fec503;
  border-bottom: 1px solid #fec503;
}

.tab_container {
  border-top: none;
  clear: both;
  float: left;
  width: 248px;
  background: #FFFFFF;
}

.tab_content {
  padding: 5px 0 5px 0;
  font-size: 12px;
  display: none;
}

.tab_container .tab_content ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.tab_container .tab_content ul li {
  padding: 5px;
  list-style: none;
}

.table {
  text-align: center;
}

.table-responsive {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.form-control {
  display: inline-block;
}

#loading-image {
  position: relative;
  top: 400px;
  right: auto;
  z-index: 100px;
}
thead {
  font-size: 18px;
  font-weight: bold;
  background-color: #f0ffff;
}
td {
  font-size: 17px;
  vertical-align: middle;
}
tbody tr{
  height : 40px;
  text-align: center ;
}
tbody tr:hover {
  cursor: pointer;
  background-color: #fed100;
}}