@CHARSET "UTF-8";
#wrap {
  margin-right: 0 auto;
}
.detailtext {
  text-align: left;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;
  margin: 40px;
}
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}




#logout {
  margin-right: 5px;
}
#container1 {
  padding-top: 140px;
  padding-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

#change-acc {
  text-align: right;
}
#radian,#range {
  text-align: right;
}
.radiandiv {
  margin-left: 70px;
} 
#radian {
  margin-right: 10px;
  width : 20%;
}
#change-acc-btn {
  margin-bottom: -40px;
}
#deletediv {
  text-align: right;
}
#delete {
  margin-bottom: -50px;
}
#change-acc-btn:hover {
  transition-property: background-color, color;
  transition-duration: 0.01s;
  transition-timing-function: ease-out;
  background-color:#5bc0de;
  color:white;
}

#save {
  text-align: right;
}
#savebtn {
  width: 100px;
}
.table {
  text-align: left;
}
.input-group1 {
  display: inline-block;
  width: 100px;
}

.input-group2 {
  display: inline-block;
  width: 300px;
}

.table-responsive {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

#changeAc {
  float: right;
}

hr {
  border: 1px solid lightgray;
}

.dropdown {
  display: inline;
}

.form-control {
  display: inline-block;
}

.btn-me {
  color: #ffffff;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-me:hover,
.btn-me:focus,
.btn-me:active,
.btn-me.active,
.open .dropdown-toggle.btn-me {
  color: #ffffff;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-me:active,
.btn-me.active,
.open .dropdown-toggle.btn-me {
  background-image: none;
}
.btn-me.disabled,
.btn-me[disabled],
fieldset[disabled] .btn-me,
.btn-me.disabled:hover,
.btn-me[disabled]:hover,
fieldset[disabled] .btn-me:hover,
.btn-me.disabled:focus,
.btn-me[disabled]:focus,
fieldset[disabled] .btn-me:focus,
.btn-me.disabled:active,
.btn-me[disabled]:active,
fieldset[disabled] .btn-me:active,
.btn-me.disabled.active,
.btn-me[disabled].active,
fieldset[disabled] .btn-me.active {
  background-color: #fed136;
  border-color: #fed136;
}


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.preview {  
    display: block;
    width: 350px;
    height: 350px;
    margin: 50px auto;    
    border: 2px solid lightgray;
    border-radius: 3%;
    overflow: hidden;
}

.file-upload-wrapper {
    position: relative;
    z-index: 5;
    display: block;
    width: 250px;
    height: 30px;
    margin: 50px auto;
    border : 2px solid gray;
}

.file-upload-native,
.file-upload-text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#map {
   width:100%;
   height:100%;
   position:relative;
   overflow:hidden;
}
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
    outline: none;
}

.file-upload-text {
    z-index: 10;
    padding: 5px 15px 8px;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    color: rgb(144, 162, 148);
    border: 0;
    background-color: transparent;
}

.file-upload-native {
    z-index: 15;
    opacity: 0;
}

.width-control {
 width: 20%;
}

#loading {
 width: 100%;   
 height: 100%;   
 top: 0px;
 left: 0px;
 position: fixed;   
 display: block;   
 opacity: 0.7;   
 background-color: #fff;   
 z-index: 99;   
 text-align: center; 
}  
 
#loading-image {   
 position: relative;   
 top: 400px;   
 right: auto;   
 z-index: 100px; 
} 
