@CHARSET "UTF-8";

.form-control {
  display: inline-block;
}
.birth1 {
margin-left: 23px;
  margin-right: 2px;
}
.birth2 {
margin-left: 26px;
  width: 61px;
  margin-right: 2px;
}
.birth3 {
margin-left: 24px;
  width: 61px;
  margin-right: 2px;
}
#birthdayYear {
  width: 80px;
}

.upname {
  width: 309px;
}
.gender {
  margin-left: 27px; 
}

.input-group1 {
  display: inline-block;
  margin-left : 14px;
  margin-right:2px;
  width: 60px;
}
.input-group2 {
  display: inline-block;
  margin : 0px 2px 0px 1px;
  width: 60px;
}
.input-group3 {
  display: inline-block;
  margin-left : 1px;
  width: 60px;
}

#phonenumber {
  margin-right: 8px;  
}
#agency {
  width: 87px;
}




ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}